<html>
    <head>
    <title></title>
    </head>
    <body>
        <form action="/contacts" method="post">
            UserIdOne:  <input type="text" name="userIdOne">
            <br/>
            <br/>
            UserIdTwo:  <input type="text" name="userIdTwo">
            <br/>
            <br/>            
            Time of Contact:    <input type="date" name="timestamp">
            <br/>
            <br/>
            <input type="submit" value="Contact">
        </form>
    </body>
</html>

